<body>
  <h1>{{titulo}}</h1>
  <img src="./rock nacional.jpg" />
  <p>{{descripcion}}</p>
  <ol>
    {{#bandas de rock nacional}}
    <li>
      <a href="./detalle.html?id={{id}}">{{nombre}}</a>
    {{/bandas de rock nacional}}
  </ol>
</body>
