<div class="contenedor">
<h1>NAVEGACIÓN A VELA</h1>
<h2>Deporte</h2>
<img src="./vela1.jpg"/> 
<p>
  La vela es un deporte náutico que consiste en controlar la dinámica de un barco propulsado solamente por el viento en sus velas. La navegación a vela, como deporte, puede ser de recreo o de competición. Las competiciones de vela se llaman regatas, y las embarcaciones veleros.
</p>
<h2>Historia</h2>
<p>
  La navegación de recreo o deportiva nació en los Países Bajos en el siglo xvii, pero fue el rey Carlos II de Inglaterra quien lo convirtió en deporte competitivo en su país, tras su regreso del exilio en Países Bajos. La primera regata de la que se tiene constancia tuvo lugar en el río Támesis, entre Greenwich y Gravesend, compitiendo los navíos de Carlos II y su hermano el duque de York.
</p>
<p>
  En Estados Unidos tuvo gran repercusión, y en 1851 el Club de Yates de Nueva York envió una goleta llamada America para competir contra embarcaciones británicas en la Queen's Cup. La America ganó contra 14 rivales y se llevó la copa, dando origen a la competición más antigua de este deporte en la actualidad, la Copa América. Con la llegada del motor de vapor la vela perdió su importancia como medio de transporte y se acrecentó su aspecto lúdico y deportivo.
</p>   
<p>
  La evolución en los materiales ha provocado también cambios muy importantes durante el siglo xx en la construcción de los yates, y el empleo de fibra de carbono y de aluminio ha dotado a las embarcaciones de mucha mayor velocidad.
</p>
<h2>Tipos de embarcación ligera</h2>
<ul>
  {{#veleros}}
  <li>
    <a href="detalle.html?id={{id}}">{{nombre}}</a>
  </li>
  {{/veleros}}
  </ul>
</div>