  <h1>{{título}}</h1> 
   <p>{{descripción}}   </p>
  </p>
<ul>
{{#colores}} 
<li>
<a href="./detalle.html?id={{id}}"> {{nombre}}<a>
<p><img src= "{{imagen}}"></p>
<p>{{descripcion}}</p>
</li>
{{/colores}}
</ul> 



    