<div class=contenedor>
    <h1>{{titulo}}</h1>
    <img src= "./R.jpg" />
    <p>Saga de literatura fantástica creada por Steven Erikson.</p>
    <ul> {{#libros}}
        <li>
        <a href="./detalle.html?id={{id}}">
        {{titulo}}</a>
        <p>{{descripcion}}</p>
        </li>
        {{/libros}}
    </ul>
    <a href="https://caballerodelarbolsonriente.blogspot.com/2015/09/como-leer-malaz-en-orden.html">Más información</a>
</div>



