<div class="contenedor">
<h1>Editoriales artesanales de Buenos Aires</h1>

<p>
  ¡Bienvenidxs a una pequeña muestra de editoriales artesanales radicadas en Buenos Aires! 
  
</p>
<img src="./foto taller.jpeg" alt="Editoriales artesanales" />


<p>
Entre pequeñas impresoras y tipos móviles. </p><p>Entre encuadernación, hilos y cartulinas. </p>
<p>Entre el boca a boca y las redes sociales </p> <p>estas editoriales producen sus ejemplares uno por uno y los hacen circular por ferias de libros artesales, independientes y artísticos.</p>
</p>
<h2>¿Por qué artesanales?</h2>
<p>Estos sello se involucran en la totalidad de los procesos del libro. Trabajan con el libro como objeto, utilizan materiales y recursos con el objetivo de recuperar la experiencia sensorial, sobre todo, la experiencia del tacto (telas, hilos, pinturas, tintas, gomas, serigrafías, relieves, papeles artesanales, etc.). 
</p>
<p>Hacen tiradas reducidas desde 20 a 100 ejemplares, numeradas y reimpresas según la demanda.
</p>
<h2>Comercialización </h2>
<p>Como política editorial, deciden no estar en librerías, por esto participan en ferias artesanales, como FEA y Migra, o independientes, como la FED, a lo largo del año y del país.
</p>

<ul>
  {{#Editoriales}}
  <li>
    <a class ="link-principal" href="detalle.html?id={{id}}">{{nombre}}</a>
    <p>{{descripcion}}</p>
  </li>
  {{/Editoriales}}
</ul>
<img src="./Editoresartesanales.jpeg" alt="Editoriales artesanales"/>
</div>