<h1>{{nombre}}</h1>
    <img src="{{imagen}}">
    <dl>
        <dt>edad:</dt>
        <dd>{{edad}} años</dd>
        <dt>estudios:</dt>
        <dd>{{estudios}}</dd>
        <dt>trabajo actual:</dt>
        <dd>{{trabajo actual}}</dd>
        <dt>partido politico:</dt>
        <dd>{{partido politico}}</dd>
        <dt>paso al Balotage</dt>
        <dd> {{#paso al Balotage}}
        SI
        {{/paso al Balotage}}
        {{^paso al Balotage}}
        NO
        {{/paso al Balotage}}</dd> 
    </dl>
<p><a href="./index.html">volver</a> </p>

