<div class="contenedor">
<h1>{{titulo}}</h1> 
<img src="./elecciones.png"></a>
<p> {{descripcion}}
</p>
{{#candidatos}}
<li> 
<a class="link-principal" href="./candidato.html?id={{id}}">{{nombre}}</a>
{{/candidatos}}
</li>
</div>
