body {font-family: 'Courier New', Courier, monospace;
    background: rgb(242, 246, 246);
    border: 5px dotted;
    margin: 20px auto;
    padding: 32px;
    border: solid rgb(147, 195, 249);

}

h1{
text-align: center;   
    color:rgb(0, 200, 255);
    font-size: xx-large;
    font-family: sans-serif;
    font-style: italic;
}
.contenedor{
background-color: rgb(225, 242, 250) ;
margin:20px auto;
padding: 32px;
max-width: 600px;
border: solid rgb(147, 195, 249);
}

img{
width: 100%;
border: 1px solid;

}

dl{
    list-style: circle;
    padding-left: 30px;
}