<div class="contenedor detalle">
  <p><a href="./index.html">Volver</a></p>
  <h1>{{detalle}} <small>{{grupo}}</h1>
  <img src="./grupo-{{id}}/{{imagen}}" />
  <h2>Integrantes</h2>
    <ul>
      {{#alumnes}}
      <li>{{.}}</li>
      {{/alumnes}}
    </ul>
  <ul>
  <p><a href="./grupo-{{id}}">Ver trabajo</a></p>
</div>