<div class="contenedor">
  <h1>Listado de Superhéroes</h1>
  <img src="./puan.webp" alt="Facultad de Filosofía y letras" />
  <p>Estos son los trabajos prácticos de Redes 2023:</p>
  <ul>
    {{#grupos}}
    <li>
      <a class="link-principal" href="detalle.html?id={{id}}">{{grupo}}</a> {{detalle}}
        <ul>
        {{#alumnes}}
          <li>{{.}}</li>
        {{/alumnes}}
      </ul>
    </li>
    {{/grupos}}
  </ul>
</div>
