<div class= "contenedor">
    <h1>STRAY KIDS </h1>
    <p>Stray Kids (en hangul, 스트레이 키즈) es un grupo masculino surcoreano formado en 2017 por JYP Entertainment 
        a través del reality show Stray Kids. 
        El grupo está compuesto actualmente por ocho miembros: Bang Chan, Lee Know, Changbin, Hyunjin, Han, Felix, Seungmin y I.N. 
        Originalmente un grupo de nueve, el integrante Kim Woo-jin dejaría el grupo y 
        la agencia por motivos no especificados en octubre de 2019. </p>
        <a href="https://drama.fandom.com/es/wiki/Stray_Kids">Más información</a>
    
    <h2>{{titulo}}</h2>

<ul>
{{#integrantes}}

<li><a href="./segundapagina.html?id={{id}}">{{apodo}}</a></li>

{{/integrantes}}
</ul>

    <h2>Albums</h2>
    <p>La música de Stray Kids consiste principalmente de K-pop, hip hop y electrónica. 
        Son considerados un grupo idol "auto-producido" con los miembros casi siempre envolviéndose en la escritura y producción de canciones e incluso arreglos musicales.</p>
    <div class= "imagenes">
    <img src= "./Stray_Kids_-_Go_Live.png">
    <img src= "./Stray_Kids_-_Noeasy_(Digital).jpeg">
    <img src= "./Stray_Kids_-_5-Star.png">
    <img src= "./Stray_Kids_-_The_Sound.png"> 
    </div>


</div>