<h1>Taylor Swift</h1>
<div class="contenedor"> 
       <p>Taylor Alison Swift es una cantautora, productora, directora, actriz y empresaria estadounidense nacida el 13 de diciembre de 1989 en West Reading, Pensilvania, en Estados Unidos. Se mudó a Nashville (Tennessee) a los 14 años para realizar una carrera de música country. Firmó con la compañía discográfica independiente Big Machine Records y se convirtió en la artista más joven contratada por Sony/ATV Music Publishing House.</p>
       <p>Es conocida por escribir grandes canciones narrativas y composiciones acerca de sus experiencias personales. Como compositora, ha sido honrada por la Nashville Songwriters Association y el Salón de la Fama de los Compositores. Entre otros logros de Swift se incluyen 12 premios Grammy, un Emmy, 25 Billboard Music Awards, 40 American Music Awards, un premio Brit, 23 MTV Video Music Awards, 11 Country Music Association Awards, así como dos nominaciones al Globo de Oro. Ha vendido más de 50 millones de álbumes y 150 millones de descargas digitales de sus sencillos, convirtiéndola en una de las artistas con mayores ventas discográficas del mundo.</p>
       <p><a href="https://en.wikipedia.org/wiki/Taylor_Swift">Más Información en Wikipedia</a></p>
       <p><a href="https://www.taylorswift.com/">Taylor's Web</a></p>
</div>
<h1>Discografía</h1>
       <ul>
       {{#Discografía}}
       <a href="detalle.html?id={{id}}"><img src="{{imagen}}" height="200"></a>
       {{/Discografía}}
       </ul>