<div class= "contenedor"> 
<p><a href="./index.html">Volver</a></p>
<h1> {{titulo}} </h1>
<img src="./{{imagen}}" height="300" />
<h2> Datos </h2>
<p> {{descripcion}}</p>

<ul>

<li><strong>Título:</strong> {{titulocompleto}}</li>
<li><strong>Fecha de publicación:</strong> {{fecha}}</li>
<li><strong>Lugar de publicación:</strong> {{lugar}}</li>
<li><strong>Descripción:</strong> {{sinopsis}}</li>

</ul>

</div>