<div class="contenedor detalle">
  <p><a href="./index.html">Volver</a></p>
  <h1>{{nombre}}</h1>

  <p>{{descripcion}}</p>
  <ul>
    <li>Cantidad de habitantes: {{cantidad_de_habitantes}}</li>
    <li><a href="{{wiki}}">Más información</a></li>
  </ul>
  <h2>{{sitio_historico}}</h2>
  <img src="./{{imagen}}" />
  <p>{{descripciónsitiohistorico}}</p>
  <h2>{{alojamiento}}</h2>
  <img src="./{{imagenHotel}}" />
  <p>{{descripcionAlojamiento}}</p>


</div>